# NOTE: All settings are optional

salt:
  # Configure master options
  master:
    state_verbose: false

    file_roots:
      base:
        - /etc/salt/file_root
    pillar_roots:
      base:
        - /etc/salt/pillar_root

    nodegroups:
      group1:
        - node1
        - node2
      group2:
        - node3

  # Configure minion options
  minion:
    master: salt-master.example.com
    master_finger: 'b9:40: [...]'
    ipv6: true
    state_verbose: false

    file_roots:
      base:
        - /etc/salt/file_root
    pillar_roots:
      base:
        - /etc/salt/pillar_root

    # Configure salt mines
    mines:
      network: |
        mine_functions:
          network.ip_addrs:
            interface: eth0
